html {
  background: white;
  /*background: url(https://s3.amazonaws.com/gms-gallery/IMG_20160122_110456399_HDR-2.jpg) no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
  font-family: 'Raleway', sans-serif;
  font-size: 1.3em;
  margin: 0;
}

.appcontainer{
  margin: 0 10%;
}

.topbar{
  position: fixed;
  width: 100%;
  top: 0;
  text-align: center;
  background: black;
  color: white;
  padding-top: 15px;
  padding-left: 10px;
  z-index: 20;
  height: 40px;
}

.headarea{
  margin-top: 45px;
  height: 300px;
  background-image: url('https://s3.amazonaws.com/gms-gallery/signature.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.gallerysummary{
 width: 100%;
 /*color: white;*/
}

.gallery{
  display: inline-block;
  height: 350px;
  width: 250px;
  vertical-align: top;
  cursor: pointer;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: 5px;
/*  background: rgba(255,255,255,0.7);
  color: black;*/
}

.gallerythumb{
  width: 220px;
  height: 190px;
  margin: 15px;
  border-radius: 5px;
  object-fit: cover;
}

.gallerydetail{
  padding: 10px;
  height: 80px;
  margin: 0;
  font-size: 0.9em;
}

.gallerytitle{
  font-weight: bold;
}

.footarea{
  background: black;
  height: 25px;
  color: white;
  text-align: right;
  font-size: .8em;
  padding: 5px 5px 0 5px;
}

.livegallery{
  display: none;
  width: 90%;
  margin: 0 5%;
/*  color: white;*/
}

.doneviewing{
  position: fixed;
  background-color: #00BFFF;
  border: 2px solid black;
  border-radius: 10px;
  color: white;
  font-size: 1em;
  cursor: pointer;
  top: 0;
  right: 10px;
  z-index: 30;
  height: 35px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 10px;
}

.thumbnails {
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  width: 150px;
  margin: 10px;
  /*border: 5px solid white;*/
}

.thumbnaildivs{
  display: inline-block;
  vertical-align: top;
}

.spantitle{
  font-size: .8em;
  color: white;
  position: absolute;
  padding: 18px;
  width: 140px;
}

.eventdetail{
  background: rgba(255,255,255,0.7);
  border-radius: 0 0 10px 10px;
  padding: 5px;
}

@media only screen and (max-width: 1050px) and (orientation: portrait){
  body{
    font-size: 1.5em;
  }
  .topbar{
    height: 50px;
  }
  .eventdetail{
    font-size: 0.7em;
  }
  .gallery{
    width: 100%;
    min-width: 400px;
    height: 710px;
    /*margin: 2%;*/
  }
  .gallerythumb{
    background: black;
    height: 570px;
    width: 92%;
    margin: 4% 4% 0 4%;
  }
  .gallerydetail{
    padding: 0 4% 0 4%;
    height: 100px;
    font-size: 1.1em;
  }
  .doneviewing{
    height: 50px;
    padding: 0 10px;
    margin-top: 7px;
  }
  .thumbnails {
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    width: 200px;
    margin: 10px;
  }
  .spantitle{
    font-size: .9em;
    width: 190px;
  }
}
/* ------ Preload images -------- */
body:after {
  content: url(close.png) url(loading.gif) url(prev.png) url(next.png);
  display: none;
}

body.lb-disable-scrolling {
  overflow: hidden;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  border-radius: 3px;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-container {
  padding: 4px;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(loading.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 18px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 50px;
  height: 50px;
  background: url(close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
